# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
.env

# TypeScript
*.tsbuildinfo

# Build files
dist/
build/
out/

# Database
*.sqlite
*.db
*.db-journal

# IDEs and editors
.vscode/
.idea/
.DS_Store

# Other
coverage/
temp/
